<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <h1>Blog posts</h1>
        <a href="./new">
            <button class="create">Create New Post</button>
        </a>

        <div class="user">
            <% if (user) { %>
                <span>Welcome, <%= user.fname %></span>
                <a class="logout" href="/auth/logout">
                    <i class="fa-solid fa-right-from-bracket"></i> Logout
                </a>
            <% } else { %>
                <a class="login" href="/auth/login">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
                <a class="register" href="/auth/register">
                    <i class="fa-solid fa-user-plus"></i>
                </a>
            <% } %>
        </div>
        

        <ul>
            <% posts.forEach(post => { %>
                <li class="post-item">
                    <div class="post-content">
                        <h2><%=post.title%></h2>
                        <small><%=post.date %></small>
                        <p><%=post.content%></p>
                        <small>By: <%=post.author%> </small>
                    </div>
                    <div class="post-actions">
                        <a href="/edit/<%= post.id %>">
                            <button class="edit">
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>                                    
                        <form action="/delete/<%= post.id %>?_method=delete" method="POST">
                            <button class="delete" type="submit">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </li>
            <% }) %>
            
        </ul>
    </div>  
</body>
</html>
